.card-game{
    box-sizing: border-box;
    display: flex;
    justify-content: center; /*eixo vertical*/
    align-items:center; /*eixo horizontal*/
    width: var(--width);
    height: var(--height);
    background-color: var(--color-alura);
    border: 4px solid var(--color-floral-white);
}

.card-game.html {
    background-color: var(--color-radiant-orange);
}

.card-game.css {
    background-color: var(--color-royal-blue);
}

.card-game.javascript {
    background-color: var(--color-yellow-dorney);
}