:root {
    --color-alura: #303952;
    --color-pomb-and-power: #786fa6;
    --color-floral-white: #FFFCEE;
    --color-yellow-dorney: #ffd32a;
    --color-storm-silver: #8395a7;
    --color-lighter-purple: #a55eea;
    --color-reptile-green: #26de81;
}